<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Locação</title>
    <script>
        function showAlert(message) {
            alert(message);  // Exibindo um alerta simples. Pode ser substituído por um pop-up mais sofisticado.
        }

        function validarDatas() {
            var dataRetirada = new Date(document.getElementById('data_retirada').value);
            var dataEntrega = new Date(document.getElementById('data_entrega').value);

            if (isNaN(dataRetirada.getTime()) || isNaN(dataEntrega.getTime())) {
                showAlert('Por favor, insira datas válidas.');
                return false;
            }

            if (dataEntrega <= dataRetirada) {
                showAlert('A data de entrega deve ser posterior à data de retirada.');
                return false;
            }
            return true;
        }

        function verificarDataValida(dataStr) {
            var data = new Date(dataStr);
            return !isNaN(data.getTime());
        }
    </script>
</head>
<body>
    <h1>Adicionar Nova Locação</h1>
    <form action="/adicionar_locacao" method="post" onsubmit="return validarDatas()">
        <label for="id_carro">ID Carro:</label>
        <input type="text" id="id_carro" name="id_carro" required><br><br>

        <label for="data_retirada">Data Retirada:</label>
        <input type="date" id="data_retirada" name="data_retirada" required><br><br>

        <label for="data_entrega">Data Entrega:</label>
        <input type="date" id="data_entrega" name="data_entrega" required><br><br>

        <label for="locador">Locador:</label>
        <input type="text" id="locador" name="locador" required><br><br>

        <label for="email_locador">Email Locador:</label>
        <input type="email" id="email_locador" name="email_locador" required><br><br>

        <input type="submit" value="Adicionar Locação">
    </form>

    {% if request.args.get('error') %}
        <script>    
            document.addEventListener("DOMContentLoaded", function() {
                var errorMessage = "{{ request.args.get('error') }}";
                showAlert(errorMessage);
            });
        </script>
    {% endif %}
</body>
</html>
