<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carros Disponíveis</title>
</head>
<body>
    <h1>Lista de Carros Disponíveis</h1>
    <p>Total de Carros Disponíveis: {{ total_disponiveis }}</p>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Categoria</th>   
            </tr>
        </thead>
        <tbody>
            {% for carro in carros %}
            <tr>
                <td>{{ carro.id }}</td>
                <td>{{ carro.marca }}</td>
                <td>{{ carro.modelo }}</td>
                <td>{{ carro.categoria }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
