<!DOCTYPE html>
<html>
<head>
    <title>Lista de Locação</title>
</head>
<body>
    <h1>Lista de Locação</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID Locaçao</th>
                <th>ID Carro</th>
                <th>Data Retirada</th>
                <th>Data Entrega</th>
                <th>Locador</th>
                <th>Email Locador</th>
            </tr>
        </thead>
        <tbody>
            {% for loc in locacao %}
            <tr>
                <td>{{ loc.id_locacao }}</td>
                <td>{{ loc.id_carro }}</td>
                <td>{{ loc.data_retirada }}</td>
                <td>{{ loc.data_entrega }}</td>
                <td>{{ loc.locador }}</td>
                <td>{{ loc.email_locador }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
